.home,
.toDo {
    min-height: 80vh;
    text-align: center;
}

.home {
    width: 100%;
    background: rgba(128, 154, 199, 0.25);
}

.toDo {
    background: #1f4969;
}

.particles{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.quote {
    margin: 20px;
    background: rgba(33, 75, 141, 0.29);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    /*display: inline-block;*/
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
    font: 1.8rem/1.4 Georgia, serif;
}