.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  grid-row: 1;
  background: rgba(57, 95, 124, 0.5);
  z-index: auto;
  /*background: transparent;*/
}

.sticky {
  position: sticky;
  top: 0;
}

.navbar ul {
  margin-left: auto;
}

.navbar li {
  list-style-type: none;
  font-weight: 40;
  padding: 20px 20px;
  cursor: pointer;
  font-size: large;
  display: inline;
}

.navbar a {
  text-decoration: none;
  width: 100%;
  color: black
}

html {
  scroll-behavior: smooth;
}
