.app {
  margin: -8px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr;
  background-color: lightsteelblue;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  grid-row: 1;
  background-color: lightgray;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.sticky {
  position: sticky;
  top: 0;
  background: rgba(98, 155, 245, 0.25);
}

html {
  scroll-behavior: smooth;
}

.div {
  justify-content: space-around;
}
