@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*sections*/
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section > div {
    display: flex;
    min-width: 80vw;
}

.tasks {
    flex-direction: column;
    flex: 1;
    border: solid 1px transparent;
    border-right-color: gray;
    border-left-color: gray;
    min-height: 90vh;
}

.calendar {
    min-width: 30%;
    border: solid 1px transparent;
    border-right-color: gray;
}

.home,
#todo {
    min-height: 100vh;
    text-align: center;
}

/*home*/
.video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

section > form {
    display: flex;
    flex-direction: row;
}

/*todotasks input*/
form > input {
    padding: 10px;
    border-radius: 40px;
    min-width: 20vw;
    z-index: 40;
    /*border: 0;*/
    border-bottom-color: cadetblue;
    outline:0;
    background: lightgray;
}

form > input:focus {
    outline:none!important;
}

form > button {
    z-index: 20;
}

/*task list*/
.task-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 60%;
    border-color: lightseagreen;
    background: lightblue;
    z-index: 30;
}

/*auth background*/
.particles{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.quote {
    text-align: center;
    align-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgb(0, 0, 0, .5);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
    font: 1.8rem/1.4 Georgia, Fantasy;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}