@import 'bootstrap-icons';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.home,
#todo {
    min-height: 100vh;
    text-align: center;
}

/*home*/
.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.quote {
    text-align: center;
    align-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
    font: 1.8rem/1.4 Georgia, Fantasy;
}

/*sections*/
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section > div {
    display: flex;
    min-width: 90vw;
}

.tasks {
    flex-direction: column;
    flex: 1;
    border: solid 1px transparent;
    border-right-color: gray;
    min-height: 90vh;
}

.calendar {
    min-width: 30%;
    border: solid 1px transparent;
    align-content: center;
}

section > form {
    display: flex;
    flex-direction: row;
}

/*todotasks input*/
form > input {
    padding: 10px;
    /*border-radius: 10px;*/
    min-width: 30vw;
    z-index: 40;
    border: solid 1px transparent; /*border: 0;*/
    border-bottom-color: gray;
    outline:0;
    background: transparent;
}

form > input:focus {
    outline:none!important;
}

form > button {
    z-index: 20;
}

/*task list*/
.task-container-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 70%;
    min-height: 80%;
    z-index: 30;
    margin: 30px;
}

.task-container {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    height: 50px;
    background: rgba(211, 211, 211, 0.29);
}

.task-container-green {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    height: 50px;
    background: lightgreen;
}

input[type='checkbox']
{
    content:'';
    display:block;
    width:20px;
    height:20px;
    margin: 5px;
    background:none #ACACB8;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    opacity:0.5;
}

.task-container input[type='checkbox']:checked
{
    position:relative;
}

.task-container .close {
    display: flex;
    align-items: center;
    margin-left: auto;
    opacity: 0.2;
    transition: opacity ease 0.5s;
    border: solid 0.5em transparent;
}

.border {
    background: lightgrey;
    height: 25px;
}

.task-container .close:hover {
    opacity: 1;
}

.task-text {
    display: flex;
    margin-left: 10px;
    flex: 1;
    border: solid 1px transparent;
    border-bottom: gray;
    background:rgba(211, 211, 211, 0);
    -webkit-appearance: none;
    outline: none !important;
}

.subtask-container-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.subtask-container {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    height: 30%;
    background: rgba(211, 211, 211, 0.29);
}

/*.close::before,*/
/*.close::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 3px;*/
/*    background: #000;*/
/*}*/

/*.close::before {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.close::after {*/
/*    transform: rotate(-45deg);*/
/*}*/
